<style>
    .red-ui-editor .form-row label {
        width: 110px;
    }
</style>
<script type="text/html" data-template-name="digitaloak-postgresql-connection-manager">
    <div class="form-row">
        <label for="node-config-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-config-input-name" placeholder="name">
    </div>
    <div class="form-row">
        <label for="node-config-input-host"><i class="fa fa-globe"></i> Host</label>
        <input type="text" id="node-config-input-host">
    </div>
    <div class="form-row">
        <label for="node-config-input-port"><i class="icon-bookmark"></i> Port</label>
        <input type="text" id="node-config-input-port">
    </div>
    <div class="form-row">
        <label for="node-config-input-database"><i class="fa fa-database"></i> <span>Database</span></label>
        <input type="text" id="node-config-input-database">
    </div>
    <div class="form-row">
        <label for="node-input-user"><i class="fa fa-user"></i> <span>User</span></label>
        <input type="text" id="node-config-input-user">
    </div>
    <div class="form-row">
        <label for="node-input-password"><i class="fa fa-lock"></i> <span>Password</span></label>
        <input type="password" id="node-config-input-password">
    </div>
  <div class="form-row">
    <input type="checkbox" id="node-config-input-use_tls" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-config-input-use_tls" style="width: auto">SSL</label>
    <div id="node-config-row-tls" class="hide">
        <label style="width: auto; margin-left: 20px; margin-right: 10px;" for="node-config-input-tls">Configuration</label><input style="width: 300px;" type="text" id="node-config-input-tls">
    </div>
  </div>
    <div class="form-row">
        <h4>Listen node</h4>
    </div>
    <div class="form-row">
        <label for="node-config-input-is_client_enabled">Status:</label>
        <select id="node-config-input-is_client_enabled">
      <option value="1">Enabled</option>
      <option value="0">Disabled</option>
    </select>
    </div>
    <div class="form-row">
        <h4>Pool settings</h4>
    </div>
    <div class="form-row">
        <label title="Number of milliseconds a client must sit idle in the pool and not be checked out before it is disconnected from the backend and discarded." for="node-config-input-pool_client_max_idle"><i class="fa fa-clock-o"></i> <span>Idle time</span></label>
        <input type="text" id="node-config-input-pool_client_max_idle" placeholder="">
    </div>
    <div class="form-row">
        <label title="Maximum number of clients the pool should contain." for="node-config-input-pool_max_clients"><i class="fa fa-balance-scale"></i> <span>Max clients</span></label>
        <input type="text" id="node-config-input-pool_max_clients" placeholder="">
    </div>
    <div class="form-row">
        <h4>Client settings</h4>
    </div>
    <div class="form-row">
        <label title="Maximum number of clients the pool should contain." for="node-config-input-client_query_timeout"><i class="fa fa-hourglass-half"></i> <span>Query timeout</span></label>
        <input type="text" id="node-config-input-client_query_timeout" placeholder="">
    </div>
    <div class="form-row">
        <label title="Number of milliseconds a client must sit idle in the pool and not be checked out before it is disconnected from the backend and discarded." for="node-config-input-client_statement_timeout"><i class="fa fa-hourglass-half"></i> <span>Stmt timeout</span></label>
        <input type="text" id="node-config-input-client_statement_timeout" placeholder="">
    </div>
   <div class="form-row">
        <label title="Number of milliseconds to wait for a connection." for="node-config-input-client_connection_timeout_millis"><i class="fa fa-hourglass-half"></i> <span>Timeout</span></label>
        <input type="text" id="node-config-input-client_connection_timeout_millis" placeholder="">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('digitaloak-postgresql-connection-manager', {
        category: 'config',
        defaults: {
            name: { value: "" },
            host: { value: "localhost", required: true },
            port: { value: 5432, required: true, validate: RED.validators.number() },
            database: { value: "postgres", required: true },
            tls: {type:"tls-config",required: false},
            use_tls: {value: false},
            pool_max_clients: { value: 10, required: true, validate: RED.validators.number() },
            pool_client_max_idle: { value: 10000, required: true, validate: RED.validators.number() },
            client_query_timeout: { value: '', required: false, validate: RED.validators.regex(/[0-9]*/) },
            client_statement_timeout: { value: '', required: false, validate: RED.validators.regex(/[0-9]*/) },
            client_connection_timeout_millis: { value: '', required: false, validate: RED.validators.regex(/[0-9]*/) },
            is_client_enabled: { value: 1 }
        },
        credentials: {
            user: { type: "text" },
            password: { type: "password" }
        },
        label: function() {
            if (!this.name) {
                this.name = this.credentials.user + "@" + this.host + ":" + this.port + "/" + this.database;
            }
            return this.name;
        },
        oneditprepare: function () {
          if (typeof this.use_tls === 'undefined') {
            this.use_tls = false;
            $("#node-config-input-use_tls").prop("checked",false);
          }
          function updateTLSOptions() {
            if ($("#node-config-input-use_tls").is(':checked')) {
                $("#node-config-row-tls").show();
            } else {
                $("#node-config-row-tls").hide();
            }
          }
          updateTLSOptions();
          $("#node-config-input-use_tls").on("click",function() {
              updateTLSOptions();
          });
        },
        oneditsave: function() {
            if (!$("#node-config-input-use_tls").is(':checked')) {
                $("#node-config-input-tls").val("_ADD_");
            }
        }
    });
</script>



<script type="text/x-red" data-template-name="digitaloak-postgresql-query">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="name">
    </div>
    <div class="form-row">
        <label for="node-input-server"><i class="fa fa-globe"></i> <span>Server</span></label>
        <input type="text" id="node-input-server">
    </div>
    <div class="form-row">
        <h4>Ports</h4>
    </div>
    <div class="form-row">
        <label for="node-input-inputs">Input:</label>
        <select id="node-input-inputs">
      <option value="1">Enabled</option>
      <option value="0">Disabled</option>
    </select>
    </div>
    <div class="form-row">
        <label for="node-input-outputs">Output:</label>
        <select id="node-input-outputs">
      <option value="1">Enabled</option>
      <option value="0">Disabled</option>
    </select>
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType("digitaloak-postgresql-query", {
        category: "storage",
        color: '#5991c9',
        defaults: {
            name: { value: "" },
            server: { type: "digitaloak-postgresql-connection-manager", required: true },
            inputs: { value: 1 },
            outputs: { value: 1 }
        },
        outputs: 1,
        inputs: 1,
        icon: "postgres.png",
        align: "left",
        label: function() {
            return this.name || "postgresql";
        },
        paletteLabel: "postgresql",
        labelStyle: "label-color"
    });
</script>



<script type="text/x-red" data-template-name="digitaloak-postgresql-listen">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="name">
    </div>
    <div class="form-row">
        <label for="node-input-server"><i class="fa fa-globe"></i> <span>Server</span></label>
        <input type="text" id="node-input-server">
    </div>
    <div class="form-row">
        <label for="node-input-channel"><i class="fa fa-server"></i> <span>Channel</span></label>
        <input type="text" id="node-input-channel" placeholder="name">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType("digitaloak-postgresql-listen", {
        category: "storage",
        color: '#5991c9',
        defaults: {
            name: { value: "" },
            server: { type: "digitaloak-postgresql-connection-manager", required: true },
            channel: { required: true }
        },
        outputs: 1,
        inputs: 0,
        icon: "postgres.png",
        align: "left",
        label: function() {
            return this.name || "listen";
        },
        paletteLabel: "listen",
        labelStyle: "label-color"
    });
</script>
